@charset "utf-8";
/* CSS Document */
/*I couldn't decide wether or not to use % or fixed px spacing since I'm using it as a fixed 1080p size for my stream but the more I thought about it other people might want to change it but I'm also dumb so it could probably make it a lot harder for others to work with so I'm sorry for the way this turned out

There are also probably a bunch of duplicated things going on here. i'm not cleaning it up
*/

@font-face {
  font-family: "UniSans";
	src:url("../Resources/Fonts/Uni Sans Heavy.otf") format("opentype");
}


.textBox{
	padding: 1% 2%;
}

#wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
}

.character{
	background-image: url("../Resources/Backgrounds/charBg.png");
	width:281px;
	height:589px; 
	display: inline-block;
	position: absolute;
	top: 22%;
	opacity: 0.75;
}

#leftChar{
	left: 7.38%; /*you're gonna see a lot of this i'm so sorry*/
}

#rightChar{
	left:78.25%
}

#stats{
	background-image: url("../Resources/Backgrounds/statsBg3.png");
	width:1081px;
	height:751px;
	display: inline-block;
	top: 22%;
	left: 22%;
	position: absolute;
	color:white;
}

.whiteText{
	font-family: "UniSans";
	font-size: 17pt;
	color: white;
}
.topStats{
	font-size: 20pt;
}

.stats{
	font-size: 33pt;
}

.whiteBg{
	text-align: center;
	width: 30%;
	box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.9);
	position: relative;
	display: inline-block;
	background:white;
	color: #21112b;
	vertical-align: bottom;
	border: black 2px solid;
	height: inherit;
}

#top{
	height:180px;
	width:1081px;
}

#move{
	margin:3% 5%;
	left:5%;
	width:90%;
	height:40%;
	display: flex; /*this is new to me and i love it*/
	justify-content: space-between;
}


#textMove{
	border: black 2px solid;
	text-align: center;
	width: 30%;
	background: linear-gradient(90deg, rgba(161,84,181,1) 100%, rgba(189,24,74,1) 100%);
	box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.9);
	position: relative;
	display: inline-block;
	height: inherit;
}


#opener{
	margin:-2% 5%;
	left:5%;
	width:90%;
	height:40%;
	display: flex; /*this is new to me and i love it*/
	justify-content: space-between;
}

#textOpen{
	border: black 2px solid;
	text-align: center;
	width: auto;
	height: inherit;
	background: rgb(161,84,181);
	background: linear-gradient(90deg, rgba(161,84,181,1) 0%, rgba(189,24,74,1) 100%);
	box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.9);
}

#opk{
	margin:3% 5%;
	left:5%;
	width:90%;
	height:40%;
	display: flex;
	justify-content: space-between;
}

#totalDmg{
	margin:-1.5% 5% 1.5%;
	left:5%;
	width:90%;
	height:40%;
	display: flex;
	justify-content: space-between;
}

#rng1{
	margin:0 5% 1.5%;
	left:5%;
	width:90%;
	height:40%;
	display: flex;
	justify-content: space-between;
}

#rng2{
	margin:0 5%;
	left:5%;
	width:90%;
	height:40%;
	display: flex;
	justify-content: space-between;
}

.nameplate{
	position: absolute;
	background-color: rgba(89,54,146,0.87);
	box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.9);
	width: 300px;
	height: auto;
	top:76%;
	font-family: "UniSans";
	font-size: 15pt;
	color: white;
	text-align: center;
	vertical-align: middle;
	padding: 1% 0;
}

#p1Name{
	position: absolute;
	left:7%;
	z-index: 20;
}

#p2Name{
	position: absolute;
	right: 6.7%;
}

#leftPic{
	z-index: 100;
	width:inherit;
	height: auto;
	position: absolute;
	bottom: 0;
	
}

#rightPic{
	z-index: 100;
	width:inherit;
	height: auto;
	position: absolute;
	bottom: 0;
	
}

#scoreText{
	text-align: center;
/*	position: absolute;*/
	padding-top: 10%;
	font-size: 60pt;
}


